div.tooltip-donut {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: white;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 12px;
}